* {
    /*font-family: "Tenor Sans", sans-serif;*/
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

header {
    background-color: rgb(254, 250, 224);
    align-items: center;
    height: 120px;
}

.header-logo {
    margin-left: 20px;
    cursor: pointer;
}

.header-content {
    max-width: 1920px;
    min-width: 1440px;
    margin: 0 auto;
    height: 120px;
    gap: 246px;
    align-items: center;
    display : flex;
    flex-direction: row;
}

.nav-list {
    margin-top: 38px ;
    gap : 70px;
    display : flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list a {
    font-family: "Tenor Sans", sans-serif;
    font-size: 32px;
    color: black;
    text-decoration: none;
}

.nav-item:hover {
 text-decoration: underline;
}

.buttonLgn-popup {
    font-family: "Tenor Sans", sans-serif;
    font-size: 32px;
    color: #FEFAE0;
    background-color: #606C38;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.buttonLgn-popup:active {
    transform: translateY(4px);
}

body {
    background-image: url("./images/background image.png");
    background-size: cover;
    background-repeat: no-repeat;
}